# Auto detect text files and perform LF normalization
* text eol=crlf

# FreeBASIC source files (need cr/lf line endings)
*.h         eol=crlf
*.bi        eol=crlf
*.bas       eol=crlf
*.inc       eol=crlf
*.inl       eol=crlf
*.bat       eol=crlf
*.sln       eol=crlf
*.txt       eol=crlf
*.fbtpl     eol=crlf
*.rc        eol=crlf
*.res       eol=crlf
*.rh        eol=crlf
*.xml       eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.bmp binary
*.wmv binary
*.ico binary
*.zip binary
*.rar binary
*.exe binary
*.dll binary
*.lib binary

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
